{% include "head.html" %}
<div class="uk-grid">
    <div class="uk-width-expand">
        <article class="uk-article">
            <h3>REACHING HIGH, TOUCHING THE BLUE</h3>
            <p class="uk-article-meta">发表于2天前
            <span id="busuanzi_container_page_p style="display:inline;"> 浏览量 <span id="busuanzi_value_page_pv">27</span></span>
            </p>

            </article>

    <div class="uk-width-1-4 uk-visible@m">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="http://www.gravatar.com/avatar/f73911268c7b1cfa458988828ed89d80?d=mm&amp;s=120">
                <h4>杨志远</h4>
            </div>
            </div>
        </div>
    </div>
    </div>


{% include "foot.html" %}