
<div class="uk-margin-medium">
    <div class="uk-container uk-container-center uk-text-center">
        <p>
            <a target="_blank" href="https://github.com/wmm1996528" class="uk-icon-button uk-margin-small-right"
               ratio="1.1" uk-icon="github"></a>

        </p>
        <!--<p class="uk-text-meta" style="line-height: 10px; padding: 10px 0; margin: 8px 0;">Powered by <a-->
                <!--href="https://aodabo.tech">AwesomeDavidBlog!</a> Copyright &copy; 2018.</p>-->
        <!--<p class="uk-text-meta" style="line-height: 0px; padding: 0px 0; margin: 0px 0;"><a href="https://aodabo.tech/"-->
                                                                                            <!--target="_blank">Zhiyuan-->
            <!--Yang</a>. All rights reserved.</p>-->
    </div>
</div>
</nav>